* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif
}

html {
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

body {
  background-color: #fff;
  background-position: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

a:hover {
  color: brown;
}

header {
  display: flex;
  position: relative;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

section {
  padding: 2rem;
} 

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: brown;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.action_btn:hover {
  scale: 1.05;
  color: #ccc;
}

.action_btn:active {
  scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
  z-index: 888;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 250px;
  background: rgba(255, 255, 255, 0.61);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* HERO */

.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 100px 80px;
}

.hero:before {
  z-index: 777;
  content: '';
  position: absolute;
  /* background: rgba(3, 96, 251, 0.3); */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hero .content {
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
}

.hero .content.active {
  display: block;
}

.hero .content h1 {
  font-size: 4rem;
  font-weight: 1000;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}

.hero .content h1 span {
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
}

.hero .content p {
  margin-bottom: 65px;
  letter-spacing: 1.5px;
  line-height: 20px;
}

.hero .content a {
  background: #fff;
  padding: 10px 25px;
  color: #000;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  border-radius: 2px;
}

.hero .content a:hover {
  color: brown;
  font-weight: 650;
}

.hero img {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-navigation {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
  background: brown;
}

.slider-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}

.img-slide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 1.5s ease;
  transition-property: clip-path;
}

/* HEADING */

.heading {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding-top: 30px;
  padding-bottom: 20px;
}

.heading span{
  color: brown;
  text-transform: uppercase;
}

/* SHORT ABOUT */

.short-about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.short-about .row .image {
  flex: 1 1 50%;
}

.short-about .row .image img{
  width: 100%;
}

.short-about .row .content2 {
  flex: 1 1 50%;
  padding: 2.5rem;
}

.content2 h3 {
  color: #000;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.content2 p {
  color: #000;
  letter-spacing: 1px;
  line-height: 18px;
  font-size: 16px;
  margin-bottom: 35px;
}

.short-about .row .content2 a {
  background: brown;
  padding: 10px 20px;
  color: #fff;
  font-size: 1em;
  font-weight: 550;
  text-decoration: none;
  border-radius: 2px;
}

.short-about .row .content2 a:hover {
  color: #ccc;
  font-weight: 600;
}

/* OUR COLLECTIONS */

.products {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper i {
  height: 50px;
  width: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  font-size: 1.25rem;
  top: 37%;
  transform: translateY(-50%);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel :where(.card, .img) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel .dragging{
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel .card {
  scroll-snap-align: start;
  list-style: none;
  cursor: pointer;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card .img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.card .img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
}

.card a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 30px;
  color: #000;
}

.card a:hover {
  color: brown;
  font-weight: 1000;
}

/* GOOGLE MAP */

.contact .heading {
  padding-top: 1px;
  padding-bottom: 30px;;
}

.contact .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.contact .row .map {
  width: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

/* OUR BLOGS */

.blogs .heading {
  padding-bottom: 2rem;
}

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  padding-left: 0.7rem;
  padding-bottom: 40px;
}

.blogs .box-container .box {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.blogs .box-container .box .image {
  height: 23rem;
  width: 100%;
  overflow: hidden;
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover ;
}

.blogs .box-container .box:hover .image img {
  transform: scale(1.1);
}

.blogs .box-container .box .content {
  padding: 2rem;
}

.blogs .box-container .box .content .title {
  font-size: 1.7rem;
  line-height: 1.5;
  color: #000;
}

.blogs .box-container .box .content .title:hover {
  color: brown;
  font-weight: 600;
}

.blogs .box-container .box .content span {
  color: brown;
  display: block;
  padding-top: 1rem;
  font-size: 1.1rem;
}

.blogs .box-container .box .content p {
  line-height: 1.8;
  font-size: 0.9rem;
  padding: 1rem 0;
  padding-bottom: 1.5rem;
}

.blogs .box-container .box .content .btn {
  background-color: brown;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.blogs .box-container .box .content .btn:hover {
  color: #ccc;
}

/* FOOTER */

footer {
  width: 100%;
  position: absolute;
  background: linear-gradient(to right, #000, rgb(105, 26, 26));
  color: #fff;
  padding: 40px 0 20px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}

footer .row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

footer .row .col1 {
  flex-basis: 50%;
  padding: 10px;
}

footer .row .col1 .logo {
  width: 80px;
  margin-bottom: 30px;
}

footer .row .col2 {
  flex-basis: 15%;
  padding: 10px;
}

footer .row h3{
  margin-top: 30px;
  width: fit-content;
  margin-bottom: 60px;
  position: relative;
}

footer .row .col2 ul li {
  list-style: none;
  margin-bottom: 12px;
}

footer .row .col2 ul li a {
  text-decoration: none;
  color: #fff;
}

footer .row .col2 ul li a:hover {
  color: #ccc;
}

footer .row .col3 {
  flex-basis: 25%;
  padding: 10px;
}

form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  margin-bottom: 50px;
}

form .far{
  font-size: 18px;
  margin-right: 10px;
}

form input {
  width: 100%;
  background: transparent;
  color: #fff;
  border: 0;
  outline: none;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

form button .fas {
  font-size: 16px;
  color: #fff;
}

.social-icons .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}

.social-icons .fab:hover {
  color: brown;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #fff;
  margin: 20px auto;
}

.copyright {
  text-align: center;
}

.underline {
  width: 100%;
  height: 3px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

/* ABOUT PAGE */

.about .row-about {
  padding-top: 0%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about .row-about .imge {
  flex: 1 1 60%;
}

.about .row-about .imge img{
  width: 100%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.about .row-about .content3 {
  flex: 1 1 40%;
  padding: 2.5rem;
}

.content3 h3 {
  color: #000;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.content3 h3 span{
  color: brown;
}

.content3 p {
  color: #000;
  letter-spacing: 1px;
  line-height: 18px;
  font-size: 15px;
  margin-bottom: 35px;
}

.about .row-about .content3 a {
  background: brown;
  padding: 10px 20px;
  color: #fff;
  font-size: 1em;
  font-weight: 550;
  text-decoration: none;
  border-radius: 2px;
}

.about .row-about .content3 a:hover {
  color: #ccc;
}

/* BOTTOM */

.about .row-about .imge1 {
  flex: 1 1 50%;
}

.about .row-about .imge1 img{
  width: 100%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.about .row-about .content4 {
  flex: 1 1 50%;
  padding: 3.5rem;
}

.content4 h3 {
  color: #000;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.content4 h3 span{
  color: brown;
}

.content4 p {
  color: #000;
  letter-spacing: 1px;
  line-height: 18px;
  font-size: 15px;
  margin-bottom: 35px;
}

.about .row-about .content4 a {
  background: brown;
  padding: 10px 20px;
  color: #fff;
  font-size: 1em;
  font-weight: 550;
  text-decoration: none;
  border-radius: 2px;
}

.about .row-about .content4 a:hover {
  color: #ccc;
}

/* CONTACT PAGE */

.contact2 {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(images/bg.png);
  background-size: cover;
  box-sizing: border-box;
}

.contact2 .contnt {
  max-width: 800px;
  text-align: center;
}

.contact2 .contnt h2 {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
}


.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box2 {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactInfo .box2 .icon10 {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.container .contactInfo .box2 .icon10:hover {
  color: brown;
}

.container .contactInfo .box2 .text10 {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}

.container .contactInfo .box2 .text10 h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}

.container .contactInfo .box2 .text10 p {
  color: #ccc;
}

.contactForm {
  width: 40%;
  padding: 40px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.contactForm form{
  display: block;
}

.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 600;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  margin: 10px 0;
  padding: 5px 0;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  color: #000;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: brown;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: brown;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}

.contactForm .inputBox input[type="submit"]:hover {
  color: #ccc;
}

/* RESPONSIVE DESIGN */
@media (max-width: 991px) {
  .navbar .links,
  .navbar .action_btn {
      display: none;
  }

  .navbar .toggle_btn {
    display: inline-block;
  }
  
  .dropdown_menu {
    display: block;
  }

  section {
    padding: 2rem 2rem 2rem 2rem;
  }

  .contact2 {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo,
  .contactForm {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .dropdown_menu {
      left: 2rem;
      width: unset;
  }
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 700px) {
  footer {
    bottom: unset;
  }
  footer .row .col1 {
    flex-basis: 100%;
  }
  footer .row .col2 {
    flex-basis: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  footer .row .col3 {
    flex-basis: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .social-icons {
    text-align: center;
  }
}